*{
    margin-left: 64px;
    
}


body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

header{
    display: flex;
    margin: 0;
    position: relative;
    top: 26px;
    left: 64px;
    right: 64px;
    bottom: 26px;
}

header h2{

    margin: 0;
    width: 20rem;
    height: 27px;
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: 500;

}

header a{
    margin-left: 32px;
    position: relative;
    left: 588px;
    text-decoration: none;
    color: black;
    height: 27px;
    width: 65px;
    font-family: 'Nunito';
}


.container{
    display: flex;
    flex-direction: column;
    top: 207px;
    
    
}

#menu{
    display: none;
}

.container h1{
    font-family: 'Roboto Flex';
    position: relative;
    top: 45px;
    width: 653px;
    height: 67px;
    font-size: 56px;
    font-weight: bold;
}

.container h3{
    font-family: 'Nunito';
    position: relative;
    top: 95px;
    width: 732px;
    height: 33px;
    font-size: 24px;
    color: #863FE1;

    
}

.container p{
    font-family: 'Nunito';
    position: relative;
    top: 32px;
    width: 732px;
    height: 81px;
    font-size: 18px;
    margin-top: 16px;
}


.container img{
width: 559px;
height: 746;
position: absolute;
left: 862px;
top: 112px;
}

.containerlink {
    display: flex;
    top: 32px;
    position: relative;
}

.containerlink a{
    border: inset;
    border-radius: 40px;
    border-color: #863FE1;
    text-decoration: none;   
    font-size: 18px;
    padding-top: 20px;
    font-family: 'Roboto Flex';
    height: 40px;
    width: 250px;
    text-align: center;
    color: black;

}

.containerlink a:hover{
    border-color: #622CA7;
}

#sobre:hover{
    background-color: #622CA7;

    
}

#sobre{
    background-color: #863FE1;
    color: white;
    border: none;
}

nav a:hover{
    text-decoration: underline;
}





@media only screen and (min-width: 360px) and (max-width: 567px) {
    

    *{
        margin-left: 64px;
        
    }
    
    #menus{
        display: none;
    }


    #menu{
        display: block;
    }
    
    

    body{
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
        right: 80px;
        position: relative;
    }
    
    header{
        display: flex;
        margin: 0;
        position: relative;
        top: 26px;
        left: 24px;
        right: 324px;
        bottom: 26px;
    }
    
    

    header h2{
        
        margin: 0;
        width: 138px;
        height: 20px;
        font-size: 18px;
        font-family: 'Nunito';
        font-weight: 500;
        left: 4px;
        position: relative;
    
    }


    
    header a{
        margin-left: 32px;
        position: relative;
        left: 66px;
        text-decoration: none;
        color: black;
        height: 24px;
        width: 223px;
        font-family: 'Nunito';
    }
    
    
    .container{
        display: flex;
        flex-direction: column;

        
        
    }
    
    
    .container h1{
        font-family: 'Roboto Flex';
        position: relative;
        font-size: 32px;
        font-weight: bold;
        right: 105px;
        max-width: 320px;
        height: 30px;
        width: 30px;
        margin-bottom: 50px;
    }
    
    .container h3{
        font-family: 'Nunito';
        position: relative;
        top: 64px; 
        right: 100px;
        width: 312px;
        height: 22px;
        font-size: 16px;
        color: #863FE1;
    
        
    }
    
    .container p{
        font-family: 'Nunito';
        position: relative;
        top: 32px;
        right: 100px;
        max-width: 335px;
        height: 26px;
        font-size: 4px;
        margin-top: 16px;
    }
    
    

    
    .container img{
    width: 559px;
    height: 746;
    position: absolute;
    left: -862px;
    top: 112px;
    }
    
    .containerlink {
        display: flex;
        margin-top: 50px;
        right: 98px;
        position: relative;
    }
    
    .containerlink a{
        border: inset;
        border-radius: 40px;
        border-color: #863FE1;
        text-decoration: none;   
        font-size: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-family: 'Roboto Flex';
        text-align: center;
        height: 15px;
        width: 98px;
    
    }
    
    #sobre{
        background-color: #863FE1;
        color: white;
    }
    


    .container{
        position: relative;
        top: 40px;
    }
    .container h1{
        font-family: 'Roboto Flex';
        width: 520px;
        height: 48px;
        font-size: 40px;
        
    }


    .container p{
        width: 490px;
        height: 96px;
        font-size: 16px;
    }
    
    .containerlink {
        display: flex;
        top: 77px;
        position: relative;
        width: 500px;
    }
    
    .container img{
        width: 459px;
        height: 646;
        position: absolute;
        left: -862px;
        top: 112px;
        }
        

}

@media only screen and (min-width: 568px) and (max-width: 768px) {

    *{
        margin-left: 64px;
        
    }
    
    #menus{
        display: none;
    }


    #menu{
        display: block;
    }
    
    
    body{
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
        right: 80px;
        position: relative;
    }
    
    header{
        display: flex;
        margin: 0;
        position: relative;
        top: 32px;
        left: 24px;
        right: 24px;
        bottom: 26px;
    }
    
    header h2{
    
        margin: 0;
        width: 138px;
        height: 26px;
        font-size: 18px;
        font-family: 'Nunito';
        font-weight: 500;
        left: 24px;
        position: relative;
    
    }
    
    header a{
        margin-left: 32px;
        position: relative;
        left: 224px;
        text-decoration: none;
        color: black;
        height: 25px;
        width: 28px;
        font-family: 'Nunito';
    }
    
    
    .container{
        display: flex;
        flex-direction: column;
        top: 64px;
        
        
        
    }
    
    
    .container h1{
        font-family: 'Roboto Flex';
        position: relative;
        top: 45px;
        width: 500px;
        height: 48px;
        font-size: 38px;
        font-weight: bold;
        
    
    }
    
    .container h3{
        font-family: 'Nunito';
        position: relative;
        top: 80px;
        width: 520px;
        height: 27px;
        font-size: 20px;
        color: #863FE1;
    
        
    }
    
    .container p{
        font-family: 'Nunito';
        position: relative;
        top: 32px;
        width: 476px;
        height: 96px;
        font-size: 16px;
        margin-top: 16px;
    }
    
    
    .container img{
    width: 559px;
    height: 746;
    position: absolute;
    left: -862px;
    top: 112px;
    }
    
    .containerlink {
        display: flex;
        top: 40px;
        position: relative;
    }
    
    .containerlink a{
        border: inset;
        border-radius: 40px;
        border-color: #863FE1;
        text-decoration: none;   
        font-size: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-family: 'Roboto Flex';
        text-align: center;
        height: 16px;
        width: 180px;
    
    }
    
    #sobre{
        background-color: #863FE1;
        color: white;
    }
}    

@media only screen and (min-width: 768px) and (max-width: 1440px){
    
    *{
        margin-left: 64px;
        
    }
    
    #menus{
        display: none;
    }


    #menu{
        display: block;
    }
    
    
    body{
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
        right: 80px;
        position: relative;
    }
    
    header{
        display: flex;
        margin: 0;
        position: relative;
        top: 32px;
        left: 32px;
        right: 32px;
        bottom: 26px;
    }
    
    header h2{
    
        margin: 0;
        width: 138px;
        height: 26px;
        font-size: 18px;
        font-family: 'Nunito';
        font-weight: 500;
        left: 32px;
        position: relative;
    
    }
    
    header a{
        margin-left: 32px;
        position: relative;
        left: 460px;
        text-decoration: none;
        color: black;
        height: 25px;
        width: 28px;
        font-family: 'Nunito';
    }
    
    
    .container{
        display: flex;
        flex-direction: column;
        top: 84px;
        
        
        
    }
    
    
    .container h1{
        font-family: 'Roboto Flex';
        position: relative;
        top: 45px;
        width: 704px;
        height: 58px;
        font-size: 48px;
        font-weight: bold;
        
    
    }
    
    .container h3{
        font-family: 'Nunito';
        position: relative;
        top: 88px;
        width: 704px;
        height: 33px;
        font-size: 24px;
        color: #863FE1;
    
        
    }
    
    .container p{
        font-family: 'Nunito';
        position: relative;
        top: 32px;
        width: 704px;
        height: 108px;
        font-size: 16px;
        margin-top: 16px;
    }
    
    
    .container img{
    width: 559px;
    height: 746;
    position: absolute;
    left: -862px;
    top: 112px;
    }
    
    .containerlink {
        display: flex;
        top: 32px;
        position: relative;
    }
    
    .containerlink a{
        border: inset;
        border-radius: 40px;
        border-color: #863FE1;
        text-decoration: none;   
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-family: 'Roboto Flex';
        text-align: center;
        height: 20px;
        width: 249px;
    
    }
    
    #sobre{
        background-color: #863FE1;
        color: white;
    }
    

}

@media only screen and (min-width: 1440px) and (max-width: 1920px){


    *{
        margin-left: 64px;
        
    }

    
    
    body{
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
    }
    
    header{
        display: flex;
        margin: 0;
        position: relative;
        top: 26px;
        left: 64px;
        right: 64px;
        bottom: 26px;
    }
    
    header h2{
    
        margin: 0;
        width: 20rem;
        height: 27px;
        font-size: 18px;
        font-family: 'Nunito';
        font-weight: 500;
    
    }
    
    header a{
        margin-left: 32px;
        position: relative;
        left: 488px;
        text-decoration: none;
        color: black;
        height: 27px;
        width: 65px;
        font-family: 'Nunito';
    }
    
    
    .container{
        display: flex;
        flex-direction: column;
        top: 207px;
        
        
    }
    
    #menu{
        display: none;
    }
    
    .container h1{
        font-family: 'Roboto Flex';
        position: relative;
        top: 45px;
        width: 653px;
        height: 67px;
        font-size: 56px;
        font-weight: bold;
    }
    
    .container h3{
        font-family: 'Nunito';
        position: relative;
        top: 95px;
        width: 732px;
        height: 33px;
        font-size: 24px;
        color: #863FE1;
    
        
    }
    
    .container p{
        font-family: 'Nunito';
        position: relative;
        top: 32px;
        width: 732px;
        height: 81px;
        font-size: 18px;
        margin-top: 16px;
    }
    
    
    .container img{
    width: 559px;
    height: 746;
    position: absolute;
    left: 862px;
    top: 112px;
    }
    
    .containerlink {
        display: flex;
        top: 32px;
        position: relative;
    }
    
    .containerlink a{
        border: inset;
        border-radius: 40px;
        border-color: #863FE1;
        text-decoration: none;   
        font-size: 18px;
        padding-top: 20px;
        font-family: 'Roboto Flex';
        height: 40px;
        width: 250px;
        text-align: center;
        color: black;
    
    }
    
    .containerlink a:hover{
        border-color: #622CA7;
    }
    
    #sobre:hover{
        background-color: #622CA7;
    
        
    }
    
    #sobre{
        background-color: #863FE1;
        color: white;
        border: none;
    }
    
    nav a:hover{
        text-decoration: underline;
    }
    

}