*{
    margin-left: 64px;
    
}


body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

header{
    display: flex;
    margin: 0;
    position: relative;
    top: 26px;
    left: 64px;
    right: 64px;
    bottom: 26px;
}

header h2{

    margin: 0;
    width: 20rem;
    height: 27px;
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: 500;

}

header a{
    margin-left: 32px;
    position: relative;
    left: 888px;
    text-decoration: none;
    color: black;
    height: 27px;
    width: 65px;
    font-family: 'Nunito';
}


.container{
    display: flex;
    flex-direction: column;
    top: 207px;
    
    
}


.container h1{
    font-family: 'Roboto Flex';
    position: relative;
    top: 45px;
    width: 653px;
    height: 67px;
    font-size: 56px;
    font-weight: bold;
}

.container h3{
    font-family: 'Nunito';
    position: relative;
    top: 95px;
    width: 732px;
    height: 33px;
    font-size: 24px;
    color: #863FE1;

    
}

.container p{
    font-family: 'Nunito';
    position: relative;
    top: 32px;
    width: 732px;
    height: 81px;
    font-size: 18px;
    margin-top: 16px;
}


.container img{
width: 559px;
height: 746;
position: absolute;
left: 862px;
top: 112px;
}

.containerlink {
    display: flex;
    top: 32px;
    position: relative;
}

.containerlink a{
    border: inset;
    border-radius: 40px;
    border-color: #863FE1;
    text-decoration: none;   
    font-size: 18px;
    padding-top: 20px;
    font-family: 'Roboto Flex';
    height: 40px;
    width: 250px;
    text-align: center;

}

#sobre{
    background-color: #863FE1;
    color: white;
}






@media only screen and (min-width: 360px) and (max-width: 568px) {

    header a{
        margin-left: 32px;
        position: relative;
        left: 8px;
        text-decoration: none;
        color: black;
        height: 27px;
        
        font-family: 'Nunito';
    }
    
    header{
        display: flex;
        margin-left: 24px;
        position: relative;
        top: 26px;
        left: 94px;
        right: 24px;
        bottom: 26px;
    }
    
    body{
        position: relative;
        right: 180px;
        margin: 24px;
        
    }

    .container{
        position: relative;
        top: -50px;
    
    }

    .container h3{
        font-size: 18px;
    }
    .container h1{
        font-family: 'Roboto Flex';
        width: 450px;
        height: 48px;
        font-size: 22px;
        
    }


    .container p{
        width: 360px;
        height: 96px;
        font-size: 16px;
    }
    
    .containerlink {
        display: flex;
        top: 20px;
        position: relative;
        width: 360px;
    }
    
.container img{
    width: 559px;
    height: 746;
    position: absolute;
    left: -862px;
    top: 112px;
    }
    

}


@media only screen and (min-width: 720px) and (max-width: 1720px) {

    header a{
        margin-left: 32px;
        position: relative;
        left: 28px;
        text-decoration: none;
        color: black;
        height: 27px;
        font-family: 'Nunito';
    }
    
    header{
        display: flex;
        margin-left: 24px;
        position: relative;
        top: 26px;
        left: 94px;
        right: 24px;
        bottom: 26px;
    }
    
    body{
        position: relative;
        right: 180px;
        margin: 24px;
        
    }

    .container{
        position: relative;
        top: 40px;
    }
    .container h1{
        font-family: 'Roboto Flex';
        width: 520px;
        height: 48px;
        font-size: 40px;
        
    }


    .container p{
        width: 490px;
        height: 96px;
        font-size: 16px;
    }
    
    .containerlink {
        display: flex;
        top: 77px;
        position: relative;
        width: 500px;
    }
    
    .container img{
        width: 459px;
        height: 646;
        position: absolute;
        left: -862px;
        top: 112px;
        }
        

}

@media only screen and (min-width: 569px) and (max-width: 720px) {

    header a{
        margin-left: 32px;
        position: relative;
        left: 28px;
        text-decoration: none;
        color: black;
        height: 27px;
        font-family: 'Nunito';
    }
    
    header{
        display: flex;
        margin-left: 24px;
        position: relative;
        top: 26px;
        left: 94px;
        right: 24px;
        bottom: 26px;
    }
    
    body{
        position: relative;
        right: 180px;
        margin: 24px;
        
    }

    .container{
        position: relative;
        top: 40px;
    }
    .container h1{
        font-family: 'Roboto Flex';
        width: 520px;
        height: 48px;
        font-size: 40px;
        
    }


    .container p{
        width: 490px;
        height: 96px;
        font-size: 16px;
    }
    
    .containerlink {
        display: flex;
        top: 77px;
        position: relative;
        width: 500px;
    }
    
    .container img{
        width: 559px;
        height: 746;
        position: absolute;
        left: -862px;
        top: 112px;
        }
        

}

@media only screen and (min-width: 820px) and (max-width: 1720px){
    
    .container img{
        width: 459px;
        height: 646;
        position: absolute;
        left: 482px;
        top: 112px;
        }
        
}
