*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
    width: 1400px;
    left: 64px;
}

h2{
    top: 22px;
    left: 64px;
    position: relative;
    font-weight: bold;
    font-family: 'Nunito', serif;
}

a{
    margin: 20px;
    top: 2px;
    left: 848px;
    position: relative;
    padding: 18px;
    font-family: 'Nunito',serif;
    color: black;
    text-decoration: none;
}


.container{
    position: relative;
    top: 164px;
    padding-left: 3px;
    display: flex;

}

.container h1{
    font-family: 'Roboto Flex', serif;
    height: 67px;
    width: 653px;
    font-weight: bold;
}


h3{
    width: 732px;
    height: 33px;
    color: #863FE1;
    font-weight: bold;
    font-family: 'Nunito', serif;
}




.container img{
    top: -100px;
    left: 540px;
    position: absolute;
    height: 400px;
    width: 400px;
}


p{
    left: 74px;
    font-family: 'Nunito', serif;
    font-weight: lighter;
    width: 500px;
    position: absolute;
    font-size: 15px;
    top: 310px;
    align-items: center;
}

#sobre{
    position: relative;
    left: 64px;
    top: 280px;
    border: inset;
    border-radius: 230px;
    border-color: #863FE1;
    background-color: #863FE1;
    color: #FAF9FC;
    
}


#linke{
    
    position: relative;
    left: 64px;
    top: 280px;
    border: inset;
    border-radius: 230px;
    border-color: #863FE1;
    background-color: #ffffff;
}

section h1{
    text-decoration: underline #863FE1;
    top: 300px;
    position: relative;
    text-align:  center;
    left: 100px;
}

img{
    position: relative;
    top: 500px;
    width: 500px;
    
    
}


.proj{
    position: relative;
    left: -40px;
}

.proj p{
    font-family: 'Nunito', serif;
    font-weight: lighter;
    width: 500px;
    position: absolute;
    font-size: 15px;
    top: 650px;
    left: 600px;
}


.proj h3{
    color: black;
    top: 190px;
    position: relative;
    left: 600px;
}


.proj h1{
    font-weight: bold;
    top: 190px;
    position: relative;
    left: 600px;
    font-family: 'Roboto Flex', serif;
}








@media (max-width: 600px) {
    *{
        width: 100%;
        height: 100%;
    }
}